<!-- <div class="search sticky-top">
  <form class="form-inline" #searchForm="ngForm" (ngSubmit)="onSubmit()" novalidate>
    <div class="col-10">
      <div class="form-row form-inline my-1">
        <span>Looking for</span>
        <label for="section" class="sr-only">Section</label>
        <select [(ngModel)]="section"
                name="section"
                class="form-control mx-3">
          <option *ngFor="let section of sections">{{section}}  </option>
        </select>
        <span>in</span>
        <label for="location" class="sr-only">Location</label>
        <input type="text" class="form-control mx-3" [(ngModel)]="location" name="location" placeholder="Location">
      </div>
      <div class="form-row my-1">
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" [(ngModel)]="openNow" name="openNow">
          <label class="form-check-label" for="openNow">Open now</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" [(ngModel)]="sortByDistance" name="sortByDistance">
          <label class="form-check-label" for="sortByDistance">Sort by distance</label>
        </div>
      </div>
    </div>
    <div class="col-2">
      <button type="submit" class="btn btn-primary">GO</button>
    </div>
  </form>
</div> -->

<div class="search sticky-top">
  <form class="form-inline" #searchForm="ngForm" (ngSubmit)="onSubmit()">
    <span class="mb-2 mr-sm-2 d-none d-sm-block">Looking for</span>
    <label class="sr-only" for="section">Section</label>
    <select [(ngModel)]="section"
            name="section"
            class="form-control mb-2 mr-sm-2">
      <option *ngFor="let section of sections">{{section}}</option>
    </select>
    <span class="mb-2 mr-sm-2 d-none d-sm-block">in</span>
    <label class="sr-only" for="location">Location</label>
    <input type="text" class="form-control mb-2 mr-sm-2" [(ngModel)]="location" name="location" placeholder="Location">

    <div class="form-check mb-2 mr-sm-2">
      <input class="form-check-input" type="checkbox" [(ngModel)]="openNow" name="openNow">
      <label class="form-check-label" for="openNow">Open now</label>
    </div>

    <div class="form-check mb-2 mr-sm-2">
      <input class="form-check-input" type="checkbox" [(ngModel)]="sortByDistance" name="sortByDistance">
      <label class="form-check-label" for="sortByDistance">Sort by distance</label>
    </div>

    <button type="submit" class="btn btn-primary mb-2">Submit</button>
  </form>
</div>
