<div class="card mb-2">
  <div class="card-body">
    <h5 class="card-title">{{venue.name}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">{{category}}</h6>
    <div class="card-text">
      <span>{{venue.location.formattedAddress[0]}}, </span>
      <span>{{venue.location.formattedAddress[1]}}, </span>
      <span>{{venue.location.formattedAddress[2]}}</span>
    </div>
  </div>
</div>
