
<wt-search (submitQuery)="onSubmitQuery($event)"></wt-search>

<div class="container">
  <div *ngIf="busy">
    Loading...
  </div>

  <div *ngIf="recommendations && !busy">
    <div *ngFor="let recommendation of recommendations">
      <wt-venue [venue]="recommendation.venue"></wt-venue>
    </div>
  </div>

  <div *ngIf="recommendations.length === 0 && !error" class="alert alert-info">No results</div>

  <div *ngIf="error" class="alert alert-danger">Sorry something went wrong, please try again</div>
</div>
